<h2>New Post</h2>
<%= form_tag posts_path, method: "post" do %>
<div class="field">
  <%=label_tag "title", "Title" %>
  <%= text_field_tag "title" %>
</div>

<div class="field">
  <%=label_tag "cateogry", "Cateogry" %>
  <%= text_field_tag "cateogry" %>
</div>

<div class="field">
  <%=label_tag "content", "content" %>
  <%= text_field_tag "content" %>
</div>

<%= submit_tag "Create" %>

<% end %>

